.container {
    padding: 8px;
    background-color: gray;
    border-radius: 10px;
    width: 90px;
    color: #000;
    margin-bottom: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: start;
    padding: 2px;
}

.content {
    display: flex;
    justify-content: start;
    padding: 2px;
    font-size: 12px;
}
